.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b4edb6;
    padding: 20px;
    border: 3px solid #2d522e;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1) 0;
    z-index: 1000;
    border-radius: 10px;
}


.popup-content {
    text-align: center;
    font-size: 22px;
    font-family: "Goudy Bookletter 1911", sans-serif;
    color: rgb(86, 86, 145);
    font-weight: 600;
    width: 343px;
    background-color: #b4edb6;


}

.close {
    position: absolute;
    top: 1px;
    right: 10px;
    cursor: pointer;
    font-size: 40px;
    color: red;
}

.birthday-image {
    width: 343px;
    height: 284px;
}

@media screen and (max-width: 600px) {
    .popup {
        width: 85%;
        
    }
    .birthday-image{
        width: 303px;
        height: 184px;
    }
    .popup-content{
        font-size: 18px;
    }
}