body {
  box-sizing: border-box;
  margin: 0px;
  width: 100vw;
  overflow-x: hidden;
 
}
.whatsapp-icon{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  text-align: center;
  z-index: 100;
}